
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root{
    --primary:#EB6440;
    --dark:#3b6a4c;
    --body:#165054;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.2);
}

body{
    font-family: 'Sora', sans-serif;
    line-height: 1.7;
    color: var(--body);
}

h1,h2,h3,h4,h5,h6,.display-4{
    font-weight: 700;
    color: var(--dark);
}

a{
    color: var(--dark);
    text-decoration: none;
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.navbar .nav-link {
    color: #fff !important;
    font-size: 14px;
    font-weight: 700;
    padding-top: 16px;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0px;
}

.hero {
    background-image: url("../server/public/img/knife-fork1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    z-index: 2;
}

.hero::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(26, 49, 47, 0.5);
    z-index: -1;
}

.card-effect{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.3s ease;
}
.card-effect:hover{
    box-shadow: none;
    transform:translateY(5px);
}
/*
.iconbox{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}*/

.service{
    position:relative;
    overflow: hidden;
}
.service::after{
    content:"";
    position: absolute;
    top:-100%;
    left:0;
    /*background-image: url("/img/pizza-g6dc999465_1920.jpg");*/
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: -1;
}
.service:hover::after{
    opacity: 1;
    top:0;
}
.restrantImage{
    display: block;
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center;
}